@import './varibles.css';

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   margin: 6px;
   border-radius: 50%;
   width: 100%;
   max-width: 90vw;
}
header h2 {
   font-size: var(--text-2xl);
   font-family: var(--playfair-dispay);
}
header a {
   font-size: var(--text-xl);
}