@import './varibles.css';

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   position: fixed;
   z-index: 10;
   bottom: 0;
   background-color: rgb(0,0, 0, .6);
   border-radius: 30px;
   right: 5%;
   left: 5%;
   bottom: 2%;
}
nav a {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 14px 6px;
   width: 100%;
   color: var(--white);
   transition: all .3s linear;
}
nav a:hover {
   background-color: var(--pink);
   color: var(--black);
   border-radius: 30px;
}
nav a span {
   font-size: var(--text-m);
}
nav a i {
   font-size: var(--text-xl);
}