<div class="pre__product__type">
   <input type="checkbox" name="trash__products" class="trash__product" value="{{product_type.id}}">
<div class="product__type">
   <img src="/static/media/{{ product_type.image }}" alt="">
   <div class="product__type__desc">
      <h3>{{product_type.title}}</h3>
      <p>{{product_type.color}} - {{product_type.material}} - {{product_type.width}} - {{product_type.height}} - {{product_type.depth}} - {{product.counts}}</p>
      <h2>${{product_type.cost}}.00</h2>
   </div>
</div>
</div>